<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="healthtracker">
  <head>
    <meta charset="utf-8">
    <link href="content/css/bootstrap.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="app/app.js" > </script>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="content/css/dashboard.css" rel="stylesheet">
  </head>

  <body ng-controller="mainController">
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Export</a>
              </li>
            </ul>

            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Nav item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
              </li>
            </ul>

            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
              </li>
            </ul>
          </nav>

          <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" >
            <h1>Dashboard</h1>

            <section class="row text-center placeholders">
              <div class="col-6 col-sm-3 placeholder">
                <img src="http://images.archant.co.uk/polopoly_fs/1.2323623.1375891418!/image/464795356.jpg_gen/derivatives/landscape_630/464795356.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Еблязов</h4>
                <div class="text-muted">Синдром Дауна</div>
              </div>
              <div class="col-6 col-sm-3 placeholder">
                <img src="https://pbs.twimg.com/profile_images/1973226129/Jake_Facebook_Profile_Pic_Square_400x400.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Кто То</h4>
                <span class="text-muted">че то</span>
              </div>
              <div class="col-6 col-sm-3 placeholder">
                <img src="https://cdn.networkrail.co.uk/wp-content/uploads/2018/02/josh-ward-profile.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Кто То</h4>
                <span class="text-muted">че то</span>
              </div>
              <div class="col-6 col-sm-3 placeholder">
                <img src="http://hugomendez.com/wp-content/uploads/2014/05/Profile_square.jpg" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Кто То</h4>
                <span class="text-muted">че то</span>
              </div>
            </section>

            <div class="d-flex flex-row">
              <h2 style="margin-right:10px">Список пациентов</h2>
              <button class="btn btn-primary" type="submit" ng-click="addPatient()">Добавить</button>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>ФИО</th>
                    <th>ИИН</th>
                    <th>ДАТА РОЖДЕНИЯ</th>
                    <th>ТЕЛЕФОН</th>
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="patient in patients">
                    <td>{{patient.fName+" "+patient.lName+" "+patient.patronymic}}</td>
                    <td>{{patient.iin}}</td>
                    <td>{{patient.birth}}</td>
                    <td>{{patient.phone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </main>
        </div>
      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>



  </body>
  </html>
